In [1]:
from glue import qglue
import pandas as pd

In [2]:
# set up IPython/Qt integration
# NOTE: this cell takes a second to run. For some reason, IPython will stall if you try to run the next cell before this one completes
%gui qt

## Load Data

In [4]:
adni_data = pd.read_csv('data/mainfile.csv')
adni_data.head()

/var/folders/8s/7zgyk05565q9l208ztk8spw80000gn/T/ipykernel_1891/820274362.py:1: DtypeWarning: Columns (1,2,5,6,7,8,9,10,13,14,17,18,20,21,22,23,24,25,31,32,61,62,75,78,79,80,81,82,83,84,85,86,87,90,91,92,93,94,98,105,106,107,108,110,111,113,114,116,117,118,120,121,122,123,124,126,128,129,130,132,149,151,153,155,157,159,161,163,165,167,169,170,176,178,180,182,184,199,200,201,202,203,204,205,212,214,247,248,249,250,251,259,273,332,439,440,442,443,586,587,588,604,612,613,614,615,617,618,619,620,622,624) have mixed types. Specify dtype option on import or set low_memory=False.
  adni_data = pd.read_csv('data/mainfile.csv')

,RID,DIAG,Phase,ID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,PTSOURCE,...,PREV_DIAG,DIAG_CHANGED,DIAG_GROUP,PATIENT_FIRST_DIAG,PATIENT_LAST_DIAG,PATIENT_DIAG_GROUP,PATIENT_DIAG_CHANGED,NEXT_DIAG,NEXT_DIAG_CHANGE,NEXT_DIAG_GROUP
0,2,NL,ADNI1,18.0,107.0,sc,sc,2005-08-17,NaN,Participant Visit,...,NL,False,NL-NL,NL,MCI,NL-MCI,True,NL,False,NL-NL
1,2,NL,ADNI1,18.0,107.0,sc,bl,2005-08-17,NaN,Participant Visit,...,NL,False,NL-NL,NL,MCI,NL-MCI,True,NL,False,NL-NL
2,2,NL,ADNI1,18.0,107.0,sc,m06,2005-08-17,NaN,Participant Visit,...,NL,False,NL-NL,NL,MCI,NL-MCI,True,NL,False,NL-NL
3,2,NL,ADNI1,18.0,107.0,sc,m36,2005-08-17,NaN,Participant Visit,...,NL,False,NL-NL,NL,MCI,NL-MCI,True,NL,False,NL-NL
4,3,AD,ADNI1,22.0,107.0,sc,sc,2005-08-18,NaN,Participant Visit,...,AD,False,AD-AD,AD,AD,AD-AD,False,AD,False,AD-AD

In [5]:
app = qglue(adni_data=adni_data)
dc = app.data_collection
print(dc)

qt.qpa.fonts: Populating font family aliases took 147 ms. Replace uses of missing font family ".AppleSystemUIFont" with one that exists to avoid this cost.

In [1]:
adni_data.dtypes

NameError: name 'adni_data' is not defined

In [ ]:
from sklearn.cluster import KMeans
import numpy as np

# extract data into Numpy [N,3] array

# extract numerical cols from adni_data 


clusters = KMeans(n_clusters=3).fit_predict(X)

# add cluster_id as a new attribute
c = data.add_component(clusters, 'cluster_id')

# create 3 new subsets, that select each value in clusters
dc.new_subset_group(label='Cluster 1', subset_state = (c == 0))
dc.new_subset_group(label='Cluster 2', subset_state = (c == 1))
dc.new_subset_group(label='Cluster 3', subset_state = (c == 2))

In [3]:
gut_bacteria_meta_data = ["RID","VISCODE","VISCODE2","EXAMDATE","DRAWDATE","SAMPLE_ID","VID","DRAWTIME","update_stamp"]
metabolites = ["L_HISTIDINE","L_LYSINE","L_SERINE","BETA_ALANINE","L_ALANINE","L_TYROSINE","L_ASPARAGINE","L_ASPARTIC_ACID","HIPPURIC_ACID","L_MALIC_ACID","ADIPIC_ACID","INDOLEACETIC_ACID","X3_INDOLEPROPIONIC_ACID","X3_METHYL_2_OXOVALERIC_ACID","GLYCINE","GLYCERIC_ACID","L_PROLINE","L_ALPHA_AMINOBUTYRIC_ACID","GLYCOLIC_ACID","P_CRESOL_SULFATE","PYROGLUTAMIC_ACID","L_VALINE","L_METHIONINE","L_LEUCINE","L_TRYPTOPHAN","CIS_ACONITIC_ACID","METHYLSUCCINIC_ACID","ISOCITRIC_ACID","CITRIC_ACID","OXOGLUTARIC_ACID","C1_0","X3_HYDROXYBUTYRIC_ACID","C2_0","C3_0","X3_HYDROXYISOVALERIC_ACID","X2_HYDROXYBUTYRIC_ACID","ISOBUTYRIC_ACID","C4_0","SUCCINIC_ACID","C5_0","SUBERIC_ACID","X_2_METHYLPENTANOIC_ACID","C6_0","C7_0","C8_0","C11_1_CIS_10","C10_0","C9_0","C11_0","C12_0","C13_0","C20_5_CIS_5_8_11_14_17","C15_0","C18_3_CIS_9_12_15","C18_3_CIS_6_9_12","C14_0","C22_6_CIS_4_7_10_13_16_19","C20_2_CIS_11_14","C16_1_CIS_9","C20_4_CIS_5_8_11_14","C22_5_CIS_7_10_13_16_19","C22_5_CIS_4_7_10_13_16","C18_2_CIS_9_12","C17_0","C20_3_CIS_8_11_14","C17_1_CIS_10","C19_2_CIS_10_13","C16_0","C22_4_CIS_7_10_13_16","C18_1_CIS_9","C18_0","X12_KETOLCA","X3_DHCA","X7_KETOLCA","X7_DHCA","ALLOLCA","APOCA","CA","CDCA","DCA","DEHYDROLCA","GCA","GCDCA","GDCA","GHCA","GHDCA","GLCA","GUDCA","HCA","HDCA","ISOLCA","LCA","LCA_3S","MUROCA","NORCA","NORDCA","TCA","TCDCA","TDCA","TUDCA","TAMCA","UCA","UDCA","BUDCA"]

gut_metabolites = pd.read_csv('data/ADMCGUTMETABOLITESLONG_12_13_21.csv')
gut_metabolites.head()

,RID,VISCODE,VISCODE2,EXAMDATE,DRAWDATE,SAMPLE_ID,VID,DRAWTIME,L_HISTIDINE,L_LYSINE,...,NORDCA,TCA,TCDCA,TDCA,TUDCA,TAMCA,UCA,UDCA,BUDCA,update_stamp
0,2,m60,m60,2010-09-22,2010-09-22,EA80LR1L-01,9,09:15:00,73.1667,176.469,...,5.33388,27.0929,36.0369,48.9649,0.8,3.6,0.293932,5.300000,29.1,2022-01-04 08:40:32.0
1,2,v06,m72,2011-09-19,2011-09-19,KA80LR1N-01,10,09:21:00,67.0264,173.763,...,9.46513,19.6633,41.1382,71.8825,0.5,2.0,0.829542,0.200000,4.7,2022-01-04 08:40:32.0
2,2,v11,m84,2012-09-26,2012-09-26,FA80LR1Q-01,11,08:39:00,73.3142,148.650,...,6.70643,24.1954,27.6121,51.3736,0.8,3.6,0.593874,0.900000,25.0,2022-01-04 08:40:32.0
3,2,v21,m96,2013-09-09,2013-09-09,DA80LR1S-01,12,09:42:00,72.1448,191.245,...,4.01555,53.6263,57.3196,102.0200,0.5,8.0,1.439510,0.682302,3.5,2022-01-04 08:40:32.0
4,3,bl,bl,2005-09-12,2005-09-12,EA80LR1V-01,2,09:43:00,99.4952,261.459,...,2.93506,55.7121,154.1170,175.7960,1.7,11.3,0.818550,15.600000,25.1,2022-01-04 08:40:32.0

In [9]:
gut_metabolites = gut_metabolites.dropna()

In [29]:
# perform PCA on gut_metabolites, extract first 3 principal components, add these as new attributes to gut_metabolites
from sklearn.decomposition import PCA

X = gut_metabolites[metabolites].values
pca = PCA(n_components=3)
pca.fit(X)

print(pca.explained_variance_ratio_, pca.explained_variance_)

[0.37584589 0.24496694 0.10545525] [1151084.77605752  750248.22410617  322972.61132552]

In [30]:
# add new attributes to gut_metabolites
pca_result = pca.transform(X)

gut_metabolites['PC1'] = pca_result[:,0]
gut_metabolites['PC2'] = pca_result[:,1]
gut_metabolites['PC3'] = pca_result[:,2]

gut_metabolites.to_csv('data/ADMCGUTMETABOLITESLONG_12_13_21.csv', index=False)

In [2]:
import pandas as pd

In [11]:
adni_data = pd.read_csv('data/mainfile.csv')
adni_data.head()

/var/folders/8s/7zgyk05565q9l208ztk8spw80000gn/T/ipykernel_12650/820274362.py:1: DtypeWarning: Columns (1,2,5,6,7,8,9,10,13,14,17,18,20,21,22,23,24,25,31,32,61,62,75,78,79,80,81,82,83,84,85,86,87,90,91,92,93,94,98,105,106,107,108,110,111,113,114,116,117,118,120,121,122,123,124,126,128,129,130,132,149,151,153,155,157,159,161,163,165,167,169,170,176,178,180,182,184,199,200,201,202,203,204,205,212,214,247,248,249,250,251,259,273,332,439,440,442,443,586,587,588,604,612,613,614,615,617,618,619,620,622,624) have mixed types. Specify dtype option on import or set low_memory=False.
  adni_data = pd.read_csv('data/mainfile.csv')

,RID,DIAG,Phase,ID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,PTSOURCE,...,PREV_DIAG,DIAG_CHANGED,DIAG_GROUP,PATIENT_FIRST_DIAG,PATIENT_LAST_DIAG,PATIENT_DIAG_GROUP,PATIENT_DIAG_CHANGED,NEXT_DIAG,NEXT_DIAG_CHANGE,NEXT_DIAG_GROUP
0,2,NL,ADNI1,18.0,107.0,sc,sc,2005-08-17,NaN,Participant Visit,...,NL,False,NL-NL,NL,MCI,NL-MCI,True,NL,False,NL-NL
1,2,NL,ADNI1,18.0,107.0,sc,bl,2005-08-17,NaN,Participant Visit,...,NL,False,NL-NL,NL,MCI,NL-MCI,True,NL,False,NL-NL
2,2,NL,ADNI1,18.0,107.0,sc,m06,2005-08-17,NaN,Participant Visit,...,NL,False,NL-NL,NL,MCI,NL-MCI,True,NL,False,NL-NL
3,2,NL,ADNI1,18.0,107.0,sc,m36,2005-08-17,NaN,Participant Visit,...,NL,False,NL-NL,NL,MCI,NL-MCI,True,NL,False,NL-NL
4,3,AD,ADNI1,22.0,107.0,sc,sc,2005-08-18,NaN,Participant Visit,...,AD,False,AD-AD,AD,AD,AD-AD,False,AD,False,AD-AD

In [12]:
gut_data = pd.read_csv('data/GUT_METABOLITES.csv')
gut_data.head()

,RID,VISCODE,VISCODE2,EXAMDATE,DRAWDATE,SAMPLE_ID,VID,DRAWTIME,L_HISTIDINE,L_LYSINE,...,TDCA,TUDCA,TAMCA,UCA,UDCA,BUDCA,update_stamp,PC1,PC2,PC3
0,2,m60,m60,2010-09-22,2010-09-22,EA80LR1L-01,9,09:15:00,73.1667,176.469,...,48.9649,0.8,3.6,0.293932,5.300000,29.1,2022-01-04 08:40:32.0,-335.181851,8.526023,-239.984720
1,2,v06,m72,2011-09-19,2011-09-19,KA80LR1N-01,10,09:21:00,67.0264,173.763,...,71.8825,0.5,2.0,0.829542,0.200000,4.7,2022-01-04 08:40:32.0,-495.230995,-107.193676,-216.710191
2,2,v11,m84,2012-09-26,2012-09-26,FA80LR1Q-01,11,08:39:00,73.3142,148.650,...,51.3736,0.8,3.6,0.593874,0.900000,25.0,2022-01-04 08:40:32.0,-564.892463,-80.563109,-166.858778
3,2,v21,m96,2013-09-09,2013-09-09,DA80LR1S-01,12,09:42:00,72.1448,191.245,...,102.0200,0.5,8.0,1.439510,0.682302,3.5,2022-01-04 08:40:32.0,-374.531440,-80.302968,-259.886400
4,3,bl,bl,2005-09-12,2005-09-12,EA80LR1V-01,2,09:43:00,99.4952,261.459,...,175.7960,1.7,11.3,0.818550,15.600000,25.1,2022-01-04 08:40:32.0,1834.461307,-736.170996,-979.370242

In [6]:
# inner join on RID and VISCODE2
merged_data = pd.merge(adni_data, gut_data, on=['RID', 'VISCODE2'], how='inner')

In [13]:
# save to file
merged_data.to_csv('data/ADNI_GUT_CLUSTER.csv', index=False)